<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="custom-card">
    <ion-card-content class="custom-card-content">
      <ion-title class="custom-card-title">Recuperar Contraseña</ion-title>
      <ion-item ion-margin>
        <ion-label position="floating">Usuario <ion-icon name="person"></ion-icon></ion-label>
        <ion-input [(ngModel)]="nombreUsuarioInput" maxlength="8" type="text"></ion-input>
      </ion-item>
      <ion-item ion-margin>
        <ion-label position="floating">RUT <ion-icon name="document"></ion-icon></ion-label>
        <ion-input [(ngModel)]="rutInput" maxlength="9" type="text"></ion-input>
      </ion-item>
      <ion-button colexpand="full" (click)="buscarContrasena()" class="ion-margin-top">Buscar Contraseña</ion-button>
        <!-- <ion-label>{{ resultadoContrasena }}</ion-label> -->

    </ion-card-content>
  </ion-card>

  <ion-card class="custom-card">
    <ion-card-content>
      <!-- Formulario para cambiar la contraseña -->
      <ion-item>
        <ion-label position="floating">Nombre de Usuario</ion-label>
        <ion-input [(ngModel)]="nombreUsuarioActual" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña Actual</ion-label>
        <ion-input [(ngModel)]="contrasenaActual" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nueva Contraseña</ion-label>
        <ion-input [(ngModel)]="nuevaContrasena" type="password"></ion-input>
      </ion-item>

      <ion-button colexpand="full" (click)="cambiarContrasena()" class="ion-margin-top">Cambiar Contraseña</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>