.custom-card {
  margin: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-card-header {
  background-color: #17c500;
  color: white;
}

.custom-card-title {
  font-size: 24px;
}

.custom-card-content {
  padding: 16px;
}