<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="custom-back-button"></ion-back-button>
      <ion-title class="app-title">Datos de Clase</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()" color="danger" class="center-text">
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="custom-card">
    <ion-card-header class="custom-card-header">
      <ion-title class="custom-card-title">Alumno</ion-title>
    </ion-card-header>
    <ion-card-content class="custom-card-content">
      <ion-list class="custom-list">
        <ion-item *ngIf="usuarioSesion">
          <ion-label class="custom-label">
            RUT: {{ usuarioSesion.rut }} <br>
            Nombre: {{ usuarioSesion.nombre }} <br>
            Apellido: {{ usuarioSesion.apellido }} <br>
            Usuario: {{ usuarioSesion.nombreLogin }} <br>
            Carrera: {{ usuarioSesion.carrera }} <br>
            <ng-container *ngIf="usuarioSesion.region">
              Región: {{ usuarioSesion.region.nombre }}<br>
            </ng-container>
            <ng-container *ngIf="usuarioSesion.comuna">
              Comuna: {{ usuarioSesion.comuna.nombre }}<br>
            </ng-container>
            <ng-container *ngIf="horaDesdePreferences">
              Hora: {{ horaDesdePreferences }}<br>
            </ng-container>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  

  <ion-card class="custom-card">
    <ion-card-header class="custom-card-header">
      <ion-title class="custom-card-title">Datos Clase</ion-title>
    </ion-card-header>
    <ion-card-content class="custom-card-content">
      <ion-list class="custom-list">
        <ion-item>
          <p [innerHTML]="mensajeDesdePreferences"></p>
        </ion-item>
        <ion-item *ngIf="latitude !== undefined && longitude !== undefined">
          <p>
            Latitud: {{ latitude }}, Longitud: {{ longitude }}
          </p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="custom-card">
    <ion-card-header class="custom-card-header">
      <ion-title class="custom-card-title">Cámara</ion-title>
    </ion-card-header>
    <ion-card-content class="custom-card-content">
      <ion-button expand="full" (click)="abrirCamara()" class="custom-button">
        Tomar Foto
      </ion-button>
      <div *ngIf="imageSrc" class="foto-capturada">
        <img [src]="imageSrc" alt="Imagen Capturada">
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
